.card{
    /* border:1px solid red; */
    width: 450px;
    box-shadow: rgba(250, 12, 3, 0.25) 0px 54px 55px, rgba(248, 22, 22, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 15px;
    background-color: rgb(71, 48, 48);
    height: 300px;
    box-sizing: border-box;
    padding:10px;
    margin-top: 120px;
}
.details{
    margin-top:40px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.cardNum{
    font-weight: bold;
    font-size: 20px;
    color:grey;
    margin-top:40px;
}
.h4{
    font-size: 12px;
    color:grey;
}
.h2{
    font-weight: bold;
    color:brown;
}